@model IEnumerable<AdminUserViewModel>
@{
    ViewData["Title"] = "Manage Users";
}

<div class="container-fluid">
    <a asp-action="Create" asp-controller="User" asp-area="Admin" class="btn btn-primary">Add New</a>
    <div class="card">
        <div class="card-header bg-primary">
            
            <h6 class="m-0 font-weight-bold text-white">List of Users</h6>
          @*  <h4 class="card-title text-white">List of Users</h4>*@
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <td>SN</td>
                            <td>Name</td>
                            <td>Email</td>
                            <td>Address</td>
                            <td>City</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Any())
                        {
                            int counter = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@counter</td>
                                    <td>@item.UserDetails.Name</td>
                                    <td>@item.UserDetails.Email</td>
                                    <td>@item.UserDetails.Address</td>
                                    <td>@item.UserDetails.City</td>
                                    <td>
                                        <a class="btn btn-info btn-sm" asp-action="ForgetPassword" asp-controller="User" asp-area="Admin" asp-route-userId="@item.Id">Forget Password</a>
                                       
                                    </td>
                                </tr>
                                counter++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>